a {
    width: 100px;
    height: 50px;
    margin-right: 5px;
    color: white;
}

div {
    width: 400px;
    height: 200px;
    border-radius: 12px;
    display: inline-block;
}

div p {
    font-weight: bold;
}

#buscadores {
    background-color: lightgreen;
}
#redes {
    background-color: lightblue;
}
#periodicos {
    background-color: violet;
}

#duck, #facebook {
    background-color: darkred;
}
#ecosia, #twitter {
    background-color: darkgreen;
}
#google, #pinterest {
    background-color: darkblue;
}

#redes a {
    display: block;
}